{{> header }}

<h1 style="color: #333; font-size: 19px; font-weight: bold;">
  Olá, {{ name }}
</h1>

<p>
  Recuperação de senha para Projects Manager App!
</p>

<p>
  Acesse o link abaixo para definir uma nova senha de acesso:
</p>

<p>
  <a href="{{link}}">definir nova senha (válido até {{ validDate }})</a>
</p>

{{> footer }}